Repository RocketPy-Team/RocketPy, pull requests merged in 2022-10, with the labels that each got.

#245 DOCS: deployable payload flight example
  docs/notebooks/deployable_payload_example.ipynb
  docs/requirements.txt
  docs/user/index.rst
  rocketpy/Flight.py
  rocketpy/utilities.py
  tests/test_flight.py
Labels: Enhancement, Docs, Flight

#244 [EuroC][EnvAnalysis] add forecast comparison to env analysis
  rocketpy/EnvironmentAnalysis.py
Labels: Environment

#247 ENH: haversine and exportElipses
  data/dispersion csv files/Valetudo.csv
  docs/notebooks/topography_usage.ipynb
  requirements.txt
  rocketpy/Dispersion.py
  rocketpy/Environment.py
  rocketpy/Flight.py
  rocketpy/__init__.py
  rocketpy/utilities.py
  tests/fixtures/dispersion/Valetudo_inputs.csv
  tests/test_environment.py
  tests/test_utilities.py
Labels: Enhancement, Code architecture, Exports and Prints

#197 ENH: Environment Analysis - Wind Heading Profiles
  rocketpy/EnvironmentAnalysis.py
Labels: Enhancement, Environment

#254 ENH: Liquid Motors Mass Flow Based Tank
  data/motors/liquid_motor_example/gas_mass_flow_in.csv
  data/motors/liquid_motor_example/gas_mass_flow_out.csv
  data/motors/liquid_motor_example/liquid_mass_flow_in.csv
  data/motors/liquid_motor_example/liquid_mass_flow_out.csv
  docs/notebooks/tank_class_usage.ipynb
  rocketpy/Function.py
  rocketpy/__init__.py
  rocketpy/motors/LiquidMotor.py
  rocketpy/motors/__init__.py
Labels: Enhancement, Propulsion

#249 ENH: Introducing properties in Flight class
  rocketpy/Flight.py
Labels: Enhancement, Code architecture, Flight

#255 Enh/liquid motors ullage tank
  docs/notebooks/tank_class_usage.ipynb
  rocketpy/__init__.py
  rocketpy/motors/LiquidMotor.py
  rocketpy/motors/__init__.py
  rocketpy/supplement.py
Labels: Enhancement, Propulsion

#264 REL: Automate Release to PyPI with GitHub Actions
  .github/workflows/publish-to-pypi.yml
Labels: Releases, Git housekeeping

#262 Hotfix for issues 251 and 261
  .github/workflows/test_pytest.yaml
  docs/conf.py
  docs/user/installation.rst
  rocketpy/EnvironmentAnalysis.py
  rocketpy/__init__.py
  setup.py
Labels: Bug
