Repository RocketPy-Team/RocketPy, pull requests merged in 2022-11, with the labels that each got.

#263 ENH: Adding AeroSurfaces classes
  docs/notebooks/getting_started.ipynb
  docs/technical/aerodynamics/Elliptical_Fins.pdf
  rocketpy/AeroSurfaces.py
  rocketpy/Flight.py
  rocketpy/Function.py
  rocketpy/Rocket.py
  tests/test_rocket.py
Labels: Code architecture

#283 Fix: Cached Property support for Python 3.6 and 3.7
  rocketpy/Flight.py
  rocketpy/tools.py
Labels: Bug, Flight

#289 ENH: Moved Flight prints to flight_prints.py
  rocketpy/Flight.py
  rocketpy/prints/flight_prints.py
Labels: Code architecture, Exports and Prints

#294 ENH: Moved Environment prints to environment_prints.py
  rocketpy/Environment.py
  rocketpy/prints/environment_prints.py
Labels: Code architecture, Exports and Prints, Environment

#293 ENH: adding name as a karg in Flight class
  rocketpy/Flight.py
Labels: Flight

#296 ENH: Moved Environment plots to environment_plots.py
  rocketpy/Environment.py
  rocketpy/plots/environment_plots.py
Labels: Code architecture, Exports and Prints, Environment

#291 ENH: Function class - Funcify Decorator & setDiscreteBasedOnModel
  .github/workflows/test_pytest.yaml
  rocketpy/Function.py
Labels: Enhancement, Numerical methods

#298 DOC: fix Getting Started notebooks Dynamic Analysis section
  docs/notebooks/getting_started.ipynb
  docs/notebooks/getting_started_colab.ipynb
Labels: Docs

#300 Fix: Flight Bearing
  rocketpy/Flight.py
  tests/test_flight.py
Labels: Flight

#302 ENH: Moved Rocket plots to rocket_plots.py
  rocketpy/Rocket.py
  rocketpy/plots/rocket_plots.py
Labels: Code architecture, Outputs

#292 MAINT: Flight class post methods
  rocketpy/Flight.py
  rocketpy/Function.py
  tests/test_flight.py
Labels: Flight

#299 Enh/liquid motors tank inertia
  docs/notebooks/tank_class_usage.ipynb
  rocketpy/Function.py
  rocketpy/motors/Fluid.py
  rocketpy/motors/LiquidMotor.py
  rocketpy/motors/Tank.py
  rocketpy/motors/TankGeometry.py
  rocketpy/motors/__init__.py
  rocketpy/supplement.py
  tests/test_supplement.py
  tests/test_tank.py
  tests/test_tank_geometry.py
Labels: Enhancement, Propulsion

#307 ENH: Liquid Motors Updates
  rocketpy/motors/LiquidMotor.py
Labels: Enhancement, Propulsion
