Repository RocketPy-Team/RocketPy, pull requests merged in 2023-10, with the labels that each got.

#377 ENH: Adding Stability Margin with Mach dependency
  rocketpy/mathutils/function.py
  rocketpy/plots/flight_plots.py
  rocketpy/plots/rocket_plots.py
  rocketpy/prints/flight_prints.py
  rocketpy/prints/rocket_prints.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  rocketpy/utilities.py
  tests/test_rocket.py
Labels: Enhancement, Aerodynamics, Flight

#422 FIX: Motors UnitTesting Warnings
  rocketpy/mathutils/function.py
  rocketpy/motors/solid_motor.py
  tests/acceptance/test_ndrt_2020_rocket.py
  tests/test_flight.py
Labels: Numerical methods, Unit tests, Propulsion

#423 BUG: motor coordinates
  rocketpy/prints/rocket_prints.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/conftest.py
  tests/test_rocket.py
Labels: Bug

#430 REL: bump versioning to v1.0.1.
  docs/conf.py
  docs/user/installation.rst
  setup.py
Labels: Releases

#419 ENH: rocket drawing
  rocketpy/plots/__init__.py
  rocketpy/plots/rocket_plots.py
  rocketpy/rocket/__init__.py
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/components.py
  rocketpy/rocket/rocket.py
Labels: Enhancement

#429 DOC: organize examples folder
  docs/examples/SEB_liquid_motor.ipynb
  docs/examples/bella_lui_flight_sim.ipynb
  docs/examples/index.rst
  docs/examples/ndrt_2020_flight_sim.ipynb
  docs/examples/valetudo_flight_sim.ipynb
  docs/notebooks/SEBLM.ipynb
  tests/fixtures/acceptance/EPFL_Bella_Lui/bella_lui_flight_sim.py
  tests/fixtures/acceptance/NDRT_2020/ndrt_2020_flight_sim.py
  tests/fixtures/acceptance/PJ_Valetudo/valetudo_flight_sim.py
Labels: Docs, Git housekeeping

#433 MNT: Fix env plots max heights
  docs/notebooks/getting_started.ipynb
  rocketpy/environment/environment.py
  rocketpy/plots/environment_plots.py
  rocketpy/prints/environment_prints.py
Labels: Outputs, Environment

#432 BUG: Maintaing Extrapolation when Adding Discrete Functions with Constants
  rocketpy/mathutils/function.py
Labels: Bug

#439 MNT: adding example docs to the find_closest() function
  rocketpy/tools.py
Labels: Docs

#438 BUG: flight.prints.max_values() fails when launching an EmptyMotor
  rocketpy/simulation/flight.py
  tests/test_flight.py
Labels: Bug

#440 MNT: fix env plots legends
  rocketpy/plots/environment_plots.py
Labels: Outputs, Environment

#441 ENH: new Flight.get_solution_at_time() method
  rocketpy/simulation/flight.py
  tests/test_flight.py
Labels: Enhancement, Flight

#375 MAINT: move dispersion plots
  docs/notebooks/dispersion_analysis/dispersion_class_usage.ipynb
  rocketpy/Dispersion.py
  rocketpy/plots/__init__.py
  rocketpy/plots/dispersion_plots.py
  rocketpy/prints/__init__.py
  rocketpy/prints/dispersion_prints.py
  rocketpy/tools.py
  tests/test_dispersion.py
Labels: Code architecture, Dispersion
