Repository RocketPy-Team/RocketPy, pull requests merged in 2023-01, with the labels that each got.

#313 BUG: Flight.plotPressureSignals and "StandardAtmosphere" environment pressure calculation
  rocketpy/Flight.py
Labels: Bug, Environment

#290 ENH: Moved Flight plots to flight_plots.py
  rocketpy/Flight.py
  rocketpy/Parachute.py
  rocketpy/plots/flight_plots.py
Labels: Code architecture, Outputs, Flight

#295 ENH: Introducing CompareFlights class, a comparison of flight plots
  docs/notebooks/compare_flights_usage.ipynb
  docs/user/index.rst
  rocketpy/Environment.py
  rocketpy/Flight.py
  rocketpy/__init__.py
  rocketpy/plots/__init__.py
  rocketpy/plots/compare/__init__.py
  rocketpy/plots/compare/compare.py
  rocketpy/plots/compare/compare_flights.py
  rocketpy/plots/compare_plots.py
Labels: Code architecture, Outputs, Flight

#320 TST: new plots tests
  rocketpy/plots/compare/compare_flights.py
  rocketpy/plots/rocket_plots.py
  tests/conftest.py
  tests/test_environment.py
  tests/test_plots.py
Labels: Unit tests

#321 MAINT: refactor flight class __init__ method
  rocketpy/Flight.py
Labels: Flight

#287 ENH: Refactor and replace plots and outputs + Compare plots
  docs/notebooks/compare_flights_usage.ipynb
  docs/user/index.rst
  rocketpy/AeroSurfaces.py
  rocketpy/Environment.py
  rocketpy/Flight.py
  rocketpy/Parachute.py
  rocketpy/Rocket.py
  rocketpy/__init__.py
  rocketpy/plots/__init__.py
  rocketpy/plots/compare/__init__.py
  rocketpy/plots/compare/compare.py
  rocketpy/plots/compare/compare_flights.py
  rocketpy/plots/environment_plots.py
  rocketpy/plots/flight_plots.py
  rocketpy/plots/rocket_plots.py
  rocketpy/prints/__init__.py
  rocketpy/prints/compare_prints.py
  rocketpy/prints/environment_prints.py
  rocketpy/prints/flight_prints.py
  rocketpy/prints/rocket_prints.py
  tests/conftest.py
  tests/test_environment.py
  tests/test_plots.py
Labels: Code architecture, Outputs

#315 ENH: Make timezonefinder an optional dependency
  .github/workflows/test_pytest.yaml
  docs/user/requirements.rst
  rocketpy/EnvironmentAnalysis.py
  setup.py
Labels: Enhancement

#267 Enh/dispersion class/review
  docs/notebooks/dispersion_analysis/dispersion_class_usage.ipynb
  docs/user/index.rst
  getting_started Dispersion.ipynb
  rocketpy/AeroSurfaces.py
  rocketpy/Dispersion.py
  rocketpy/Environment.py
  rocketpy/EnvironmentAnalysis.py
  rocketpy/Flight.py
  rocketpy/Motor.py
  rocketpy/Rocket.py
  rocketpy/__init__.py
  rocketpy/supplement.py
  rocketpy/utilities.py
  tests/test_rocket.py
Labels: Dispersion

#306 New tests for AeroSurfaces, Environment, Environment Analysis and Function
  rocketpy/AeroSurfaces.py
  rocketpy/Environment.py
  rocketpy/EnvironmentAnalysis.py
  rocketpy/Function.py
  tests/conftest.py
  tests/test_environment.py
  tests/test_environment_anaysis.py
  tests/test_flight.py
  tests/test_function.py
  tests/test_rocket.py
Labels: Unit tests
