Repository RocketPy-Team/RocketPy, pull requests merged in 2023-12, with the labels that each got.

#477 ENH: Get Instance Attributes
  rocketpy/environment/environment.py
  rocketpy/utilities.py
  tests/test_utilities.py
Labels: Enhancement

#494 TST: solid_motor.py testing refactors
  tests/conftest.py
  tests/test_function.py
  tests/test_solidmotor.py
Labels: Unit tests

#499 TST: Splitting unit testing module from non unit testes inside the new 'unit' folder for the several testing modules.
  tests/acceptance/test_ndrt_2020_rocket.py
  tests/test_environment.py
  tests/test_flight.py
  tests/test_function.py
  tests/test_rocket.py
  tests/test_solidmotor.py
  tests/test_tools_matrix.py
  tests/test_tools_vector.py
  tests/unit/test_environment.py
  tests/unit/test_flight.py
  tests/unit/test_function.py
  tests/unit/test_plots.py
  tests/unit/test_rocket.py
  tests/unit/test_solidmotor.py
  tests/unit/test_tools_matrix.py
  tests/unit/test_tools_vector.py
  tests/unit/test_utilities.py
Labels: Unit tests

#501 ENH: optimization of get_value_opt in set_get_value_opt of class Function
  rocketpy/mathutils/function.py
  tests/unit/test_function.py
Labels: Enhancement

#509 ENH: Remove Pydantic From DispersionModel, Environment and SolidMotor
  docs/notebooks/dispersion_analysis/dispersion_class_usage.ipynb
  rocketpy/__init__.py
  rocketpy/monte_carlo/DispersionModel.py
  rocketpy/monte_carlo/__init__.py
  rocketpy/monte_carlo/dispersion_model.py
  rocketpy/monte_carlo/mc_aero_surfaces.py
  rocketpy/monte_carlo/mc_environment.py
  rocketpy/monte_carlo/mc_flight.py
  rocketpy/monte_carlo/mc_parachute.py
  rocketpy/monte_carlo/mc_rocket.py
  rocketpy/monte_carlo/mc_solid_motor.py
  rocketpy/monte_carlo/motor_dispersion_model.py
  rocketpy/plots/dispersion_plots.py
  rocketpy/simulation/__init__.py
Labels: Dispersion

#508 ENH: add Function.low_pass_filter method
  rocketpy/mathutils/function.py
  tests/test_function.py
Labels: Enhancement

#507 ENH: Alternative for State History
  data/calisto/air_brakes_cd.csv
  docs/notebooks/air_brakes_example.ipynb
  docs/user/airbrakes.rst
  rocketpy/control/controller.py
  rocketpy/plots/aero_surface_plots.py
  rocketpy/prints/aero_surface_prints.py
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/conftest.py
  tests/test_flight.py
Labels: Flight control

#516 BUG: EmptyMotor is breaking the Rocket.draw() method
  CHANGELOG.md
  rocketpy/plots/rocket_plots.py
Labels: Bug

#500 MNT: update github actions with logical sequence of tests
  .github/auto-assign.yml
  .github/workflows/codecov.yml
  .github/workflows/lint_black.yaml
  .github/workflows/test_pytest.yaml
  .github/workflows/upload-to-codecov.yml
Labels: Continuous integration

#510 BUG: fin_flutter_analysis doesn't find any fin set
  CHANGELOG.md
  rocketpy/utilities.py
  tests/fixtures/utilities/flutter_mach.txt
  tests/fixtures/utilities/flutter_safety_factor.txt
  tests/unit/test_utilities.py
Labels: Bug, Unit tests, Code architecture
