Repository RocketPy-Team/RocketPy, pull requests merged in 2023-04, with the labels that each got.

#334 ENH: Function Operations
  rocketpy/Function.py
  tests/conftest.py
  tests/test_function.py
Labels: Numerical methods

#319 DOCS: convert pdf files to rst and add them to docs
  docs/conf.py
  docs/development/rocketpy_as_developer.rst
  docs/index.rst
  docs/requirements.txt
  docs/static/elliptical_fins/elliptical_fin.svg
  docs/static/equations_of_motion/image1.png
  docs/static/equations_of_motion/image2.png
  docs/static/roll_equations/cant_angle.jpg
  docs/static/roll_equations/fin_views.png
  docs/static/roll_equations/forces_comp.jpg
  docs/technical/aerodynamics/Elliptical_Fins.pdf
  docs/technical/aerodynamics/Roll_Equations.pdf
  docs/technical/aerodynamics/elliptical_fins.rst
  docs/technical/aerodynamics/roll_equations.rst
  docs/technical/equations_of_motion.rst
  docs/technical/index.rst
Labels: Docs

#338 Enh/variable gravity
  rocketpy/Environment.py
  rocketpy/Flight.py
  rocketpy/plots/environment_plots.py
  rocketpy/prints/environment_prints.py
  rocketpy/prints/flight_prints.py
  tests/test_environment.py
  tests/test_utilities.py
Labels: Enhancement, Environment
