Repository RocketPy-Team/RocketPy, pull requests merged in 2024-04, with the labels that each got.

#565 DOC: Improvements of Environment docstring phrasing.
  CHANGELOG.md
  rocketpy/environment/environment.py
  rocketpy/environment/environment_analysis.py
  rocketpy/tools.py
Labels: Docs

#582 ENH: Function Validation Rework & Swap `np.searchsorted` to `bisect_left`
  CHANGELOG.md
  rocketpy/mathutils/function.py
  tests/test_flight.py
  tests/test_function.py
  tests/unit/test_function.py
Labels: Function

#585 BUG: Swap `rocket.total_mass.differentiate` for `motor.total_mass_flow rate`
  CHANGELOG.md
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/test_flight.py
Labels: Enhancement, Flight

#588 ENH: Exponential backoff decorator (fix #449)
  CHANGELOG.md
  rocketpy/environment/environment.py
  rocketpy/tools.py
  tests/fixtures/environment/environment_fixtures.py
  tests/test_environment.py
  tests/unit/test_environment.py
Labels: Enhancement, Environment

#580 MNT: Modularize Rocket Draw
  CHANGELOG.md
  rocketpy/plots/rocket_plots.py
Labels: Refactor, Outputs
