Repository RocketPy-Team/RocketPy, pull requests merged in 2024-05, with the labels that each got.

#592 FIX: Optional Dependencies Naming in pyproject.toml.
  CHANGELOG.md
  pyproject.toml
Labels: Bug

#591 DOC: Add a doctest to calculate density profile
  rocketpy/environment/environment.py
Labels: Docs

#581 ENH: Flight simulation speed up
  CHANGELOG.md
  rocketpy/environment/environment.py
  rocketpy/mathutils/function.py
  rocketpy/plots/environment_analysis_plots.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  rocketpy/tools.py
  tests/acceptance/test_bella_lui_rocket.py
  tests/test_flight.py
  tests/test_function.py
  tests/unit/test_flight_time_nodes.py
  tests/unit/test_function.py
  tests/unit/test_tools.py
  tests/unit/test_utilities.py
Labels: Enhancement, Function, Refactor, Flight

#594 ENH: Complex step differentiation
  CHANGELOG.md
  docs/user/function.rst
  rocketpy/mathutils/function.py
  tests/unit/test_function.py
Labels: Enhancement, Function

#595 ENH: Pre-calculate attributes in Rocket class
  CHANGELOG.md
  docs/user/rocket.rst
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/unit/test_rocket.py
Labels: Enhancement, Flight

#586 BUG: Air Brakes Deployment Constant at Post Process
  rocketpy/rocket/aero_surface.py
  rocketpy/simulation/flight.py
Labels: Bug, Controllers

#599 BUG: plot drag curves when function source is callable
  CHANGELOG.md
  rocketpy/plots/rocket_plots.py
Labels: Bug, Outputs

#596 MNT: refactor u_dot parachute method
  CHANGELOG.md
  rocketpy/simulation/flight.py
Labels: Refactor

#583 ENH: Sensors
  docs/notebooks/sensors_testing.ipynb
  rocketpy/__init__.py
  rocketpy/control/controller.py
  rocketpy/mathutils/vector_matrix.py
  rocketpy/plots/rocket_plots.py
  rocketpy/prints/sensors_prints.py
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/components.py
  rocketpy/rocket/parachute.py
  rocketpy/rocket/rocket.py
  rocketpy/sensors/__init__.py
  rocketpy/sensors/accelerometer.py
  rocketpy/sensors/gyroscope.py
  rocketpy/sensors/sensors.py
  rocketpy/simulation/flight.py
  rocketpy/tools.py
  tests/conftest.py
  tests/fixtures/flight/flight_fixtures.py
  tests/fixtures/rockets/rocket_fixtures.py
  tests/fixtures/sensors/__init__.py
  tests/fixtures/sensors/sensors_fixtures.py
  tests/test_sensors.py
  tests/unit/test_flight.py
  tests/unit/test_sensors.py
  tests/unit/test_tools.py
  tests/unit/test_tools_matrix.py
Labels: Enhancement, Controllers, Flight

#611 BUG: Fixes nose cone bluffness issue #610
  CHANGELOG.md
  rocketpy/rocket/aero_surface.py
Labels: Bug

#613 DOC: Solve Dependencies Conflicts and pyproject build
  .readthedocs.yaml
  CHANGELOG.md
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
Labels: Bug, Docs

#612 ENH: Adds StochasticModel.visualize_attributes() method
  CHANGELOG.md
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/monte_carlo_class_example.inputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/monte_carlo_class_example.kml
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/monte_carlo_class_example.outputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_class_usage.ipynb
  rocketpy/plots/monte_carlo_plots.py
  rocketpy/stochastic/stochastic_environment.py
  rocketpy/stochastic/stochastic_model.py
  rocketpy/stochastic/stochastic_parachute.py
  rocketpy/stochastic/stochastic_rocket.py
  tests/unit/test_stochastic_model.py
Labels: Enhancement, Outputs, Monte Carlo

#601 DOC: Adds prometheus data, Spaceport America 2022
  CHANGELOG.md
  data/motors/cesaroni/Cesaroni_7579M1520-P.eng
  data/prometheus/2022-06-24-serial-5115-flight-0001-TeleMetrum.csv
  data/prometheus/2022-06-24-serial-6583-flight-0003-TeleMega.csv
  docs/examples/index.rst
  docs/examples/prometheus_2022_flight_sim.ipynb
Labels: Docs

#602 TST: Prometheus acceptance test with apogee criteria
  tests/acceptance/test_prometheus_rocket.py
  tests/fixtures/environment/environment_fixtures.py
  tests/fixtures/motor/generic_motor_fixtures.py
  tests/fixtures/rockets/rocket_fixtures.py
Labels: Tests
