Repository RocketPy-Team/RocketPy, pull requests merged in 2024-07, with the labels that each got.

#626 DOC: Adding testing guidelines for RocketPy
  CHANGELOG.md
  docs/development/index.rst
  docs/development/testing.rst
Labels: Docs, Tests

#627 TST: Reorganizing test_flight.py into unit and integration tests.
  tests/integration/test_flight.py
  tests/test_flight.py
  tests/unit/test_flight.py
Labels: Tests

#628 TST: Reorganizing testing modules into unit and integration tests
  .github/workflows/test_pytest.yaml
  tests/integration/test_environment_analysis.py
  tests/integration/test_flight_data_importer.py
  tests/integration/test_function.py
  tests/integration/test_genericmotor.py
  tests/integration/test_hybridmotor.py
  tests/integration/test_liquidmotor.py
  tests/integration/test_monte_carlo.py
  tests/integration/test_plots.py
  tests/integration/test_rocket.py
  tests/test_function.py
  tests/test_rocket.py
  tests/test_solidmotor.py
  tests/test_tools_matrix.py
  tests/test_tools_vector.py
  tests/unit/test_aero_surfaces.py
  tests/unit/test_environment_analysis.py
  tests/unit/test_function.py
  tests/unit/test_genericmotor.py
  tests/unit/test_hybridmotor.py
  tests/unit/test_liquidmotor.py
  tests/unit/test_monte_carlo.py
  tests/unit/test_plots.py
  tests/unit/test_rocket.py
  tests/unit/test_solidmotor.py
  tests/unit/test_tank.py
  tests/unit/test_tools_matrix.py
  tests/unit/test_tools_vector.py
Labels: Tests

#631 DEV: adds flake8 as a pylint fallback
  .github/workflows/linters.yml
  Makefile
  pyproject.toml
  rocketpy/environment/environment.py
  rocketpy/mathutils/function.py
  rocketpy/prints/environment_prints.py
  rocketpy/prints/hybrid_motor_prints.py
  rocketpy/simulation/flight.py
  rocketpy/simulation/monte_carlo.py
  tests/acceptance/test_bella_lui_rocket.py
  tests/acceptance/test_ndrt_2020_rocket.py
  tests/fixtures/rockets/rocket_fixtures.py
  tests/integration/test_flight.py
  tests/unit/test_environment.py
  tests/unit/test_function.py
  tests/unit/test_plots.py
  tests/unit/test_rocket.py
  tests/unit/test_tank.py
Labels: C.I., Refactor

#632 MNT: fix pylint errors in the `tests` module
  .github/workflows/linters.yml
  Makefile
  rocketpy/utilities.py
  tests/acceptance/test_ndrt_2020_rocket.py
  tests/fixtures/function/function_fixtures.py
  tests/fixtures/motor/solid_motor_fixtures.py
  tests/integration/test_environment.py
  tests/integration/test_environment_analysis.py
  tests/integration/test_flight.py
  tests/integration/test_function.py
  tests/integration/test_genericmotor.py
  tests/integration/test_hybridmotor.py
  tests/integration/test_monte_carlo.py
  tests/integration/test_plots.py
  tests/integration/test_rocket.py
  tests/unit/test_environment.py
  tests/unit/test_environment_analysis.py
  tests/unit/test_flight.py
  tests/unit/test_flight_time_nodes.py
  tests/unit/test_function.py
  tests/unit/test_genericmotor.py
  tests/unit/test_hybridmotor.py
  tests/unit/test_liquidmotor.py
  tests/unit/test_monte_carlo.py
  tests/unit/test_plots.py
  tests/unit/test_rocket.py
  tests/unit/test_solidmotor.py
  tests/unit/test_tank.py
  tests/unit/test_tools_matrix.py
  tests/unit/test_tools_vector.py
  tests/unit/test_utilities.py
Labels: Tests, C.I., Refactor

#634 MNT: Refactor `AeroSurfaces`
  .pylintrc
  CHANGELOG.md
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/aero_surface/__init__.py
  rocketpy/rocket/aero_surface/aero_surface.py
  rocketpy/rocket/aero_surface/air_brakes.py
  rocketpy/rocket/aero_surface/fins/__init__.py
  rocketpy/rocket/aero_surface/fins/elliptical_fins.py
  rocketpy/rocket/aero_surface/fins/fins.py
  rocketpy/rocket/aero_surface/fins/trapezoidal_fins.py
  rocketpy/rocket/aero_surface/nose_cone.py
  rocketpy/rocket/aero_surface/rail_buttons.py
  rocketpy/rocket/aero_surface/tail.py
  rocketpy/simulation/flight.py
Labels: Aerodynamics, Refactor

#605 ENH: Environment class major refactor may 2024
  CHANGELOG.md
  rocketpy/environment/__init__.py
  rocketpy/environment/environment.py
  rocketpy/environment/environment_analysis.py
  rocketpy/environment/fetchers.py
  rocketpy/environment/tools.py
  rocketpy/environment/weather_model_mapping.py
  rocketpy/mathutils/function.py
  rocketpy/prints/environment_prints.py
  rocketpy/tools.py
  tests/fixtures/environment/environment_fixtures.py
  tests/integration/test_environment.py
  tests/unit/test_environment.py
  tests/unit/test_environment_analysis.py
Labels: Enhancement, Tests, Refactor, Environment

#641 DOC: update rocketpy logo
  docs/static/RocketPy_Logo_black.png
  docs/static/RocketPy_Logo_white.png
Labels: Docs

#638 ENH: Insert apogee state into solution list during flight simulation
  CHANGELOG.md
  rocketpy/simulation/flight.py
  tests/integration/test_environment.py
  tests/integration/test_flight.py
  tests/unit/test_monte_carlo.py
Labels: Enhancement, Flight

#643 ENH: adding rocket radius to RailButtons class
  CHANGELOG.md
  rocketpy/rocket/aero_surface/rail_buttons.py
  rocketpy/rocket/rocket.py
  tests/unit/test_rocket.py
Labels: Enhancement
