Repository RocketPy-Team/RocketPy, pull requests merged in 2024-02, with the labels that each got.

#544 DOC: Replacing git clone command with curl in notebooks.
  docs/notebooks/deployable_payload_example.ipynb
  docs/notebooks/dispersion_analysis/dispersion_analysis.ipynb
  docs/notebooks/dispersion_analysis/parachute_drop_from_helicopter.ipynb
  docs/notebooks/getting_started_colab.ipynb
  rocketpy/environment/environment_analysis.py
  rocketpy/mathutils/function.py
  rocketpy/plots/flight_plots.py
  rocketpy/rocket/aero_surface.py
  rocketpy/simulation/flight.py
  rocketpy/simulation/flight_data_importer.py
  tests/test_flight_data_importer.py
  tests/test_genericmotor.py
  tests/test_tank.py
  tests/unit/test_rocket.py
  tests/unit/test_solidmotor.py
Labels: Docs

#426 ENH: Air Brakes
  CHANGELOG.md
  data/calisto/air_brakes_cd.csv
  docs/notebooks/air_brakes_example.ipynb
  docs/reference/classes/aero_surfaces/AirBrakes.rst
  docs/reference/classes/aero_surfaces/index.rst
  docs/user/airbrakes.rst
  docs/user/first_simulation.rst
  docs/user/index.rst
  rocketpy/__init__.py
  rocketpy/control/__init__.py
  rocketpy/control/controller.py
  rocketpy/plots/aero_surface_plots.py
  rocketpy/prints/aero_surface_prints.py
  rocketpy/prints/controller_prints.py
  rocketpy/rocket/__init__.py
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/conftest.py
  tests/test_flight.py
  tests/test_rocket.py
Labels: Enhancement

#539 MNT: update Makefile
  .github/pull_request_template.md
  .gitignore
  Makefile
  requirements-tests.txt
Labels: Git housekeeping

#543 ENH: Dispersion Class Overhaul
  docs/notebooks/dispersion_analysis/dispersion_class_usage.ipynb
  rocketpy/monte_carlo/dispersion_model.py
  rocketpy/monte_carlo/mc_rocket.py
  rocketpy/simulation/dispersion.py
Labels: Dispersion

#550 MNT: small fixes before v1.2
  .github/pull_request_template.md
  .github/workflows/test_pytest.yaml
  .pylintrc
  CHANGELOG.md
  docs/examples/ndrt_2020_flight_sim.ipynb
  docs/notebooks/air_brakes_example.ipynb
  docs/notebooks/compare_flights_usage.ipynb
  docs/notebooks/deployable_payload_example.ipynb
  docs/notebooks/dispersion_analysis/dispersion_analysis.ipynb
  docs/notebooks/dispersion_analysis/parachute_drop_from_helicopter.ipynb
  docs/notebooks/environment/environment_class_usage.ipynb
  docs/notebooks/getting_started.ipynb
  docs/notebooks/getting_started_colab.ipynb
  rocketpy/plots/compare/compare.py
  rocketpy/plots/compare/compare_flights.py
  rocketpy/plots/flight_plots.py
  rocketpy/plots/rocket_plots.py
  rocketpy/simulation/flight.py
  rocketpy/simulation/flight_data_importer.py
  tests/unit/test_solidmotor.py
Labels: Releases

#551 BUG: fix `get_controller_observed_variables` in the air brakes examples
  CHANGELOG.md
  docs/notebooks/air_brakes_example.ipynb
  docs/user/airbrakes.rst
  tests/unit/test_flight.py
Labels: Bug, Docs

#552 BUG: Update flight trajectory plot axes limits
  CHANGELOG.md
  rocketpy/plots/flight_plots.py
Labels: Bug, Outputs

#549 MNT: Dispersion Renaming
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis.ipynb
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_inputs/Cd_PowerOff.csv
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_inputs/Cd_PowerOn.csv
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_inputs/LASC2019_reanalysis.nc
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_inputs/Valetudo_basemap_final.jpg
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_inputs/thrustCurve.csv
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/parachute_drop_from_helicopter.disp_errors.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/parachute_drop_from_helicopter.disp_inputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/parachute_drop_from_helicopter.disp_outputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/parachute_drop_from_helicopter.svg
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/valetudo_rocket_v0.disp_errors.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/valetudo_rocket_v0.disp_inputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/valetudo_rocket_v0.disp_outputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/valetudo_rocket_v0.svg
  docs/notebooks/monte_carlo_analysis/monte_carlo_class_usage.ipynb
  docs/notebooks/monte_carlo_analysis/parachute_drop_from_helicopter.ipynb
  docs/user/first_simulation.rst
  docs/user/index.rst
  rocketpy/__init__.py
  rocketpy/monte_carlo/__init__.py
  rocketpy/plots/monte_carlo_plots.py
  rocketpy/prints/monte_carlo_prints.py
  rocketpy/simulation/__init__.py
  rocketpy/simulation/monte_carlo.py
  rocketpy/stochastic/__init__.py
  rocketpy/stochastic/stochastic_aero_surfaces.py
  rocketpy/stochastic/stochastic_environment.py
  rocketpy/stochastic/stochastic_flight.py
  rocketpy/stochastic/stochastic_generic_motor.py
  rocketpy/stochastic/stochastic_model.py
  rocketpy/stochastic/stochastic_motor_model.py
  rocketpy/stochastic/stochastic_parachute.py
  rocketpy/stochastic/stochastic_rocket.py
  rocketpy/stochastic/stochastic_solid_motor.py
  rocketpy/tools.py
  tests/conftest.py
Labels: Dispersion

#553 MNT: Final refactor before v1.2
  CHANGELOG.md
  docs/development/style_guide.rst
  rocketpy/mathutils/function.py
Labels: Docs, Refactor

#555 REL: Update version to 1.2.0
  CHANGELOG.md
  docs/conf.py
  docs/user/installation.rst
  setup.py
Labels: Releases

#556 TST: Splitting conftest.py into several smaller files.
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/environment/__init__.py
  tests/fixtures/environment/environment_fixtures.py
  tests/fixtures/flight/__init__.py
  tests/fixtures/flight/flight_fixtures.py
  tests/fixtures/function/__init__.py
  tests/fixtures/function/function_fixtures.py
  tests/fixtures/hybrid/__init__.py
  tests/fixtures/hybrid/hybrid_fixtures.py
  tests/fixtures/motor/__init__.py
  tests/fixtures/motor/generic_motor_fixtures.py
  tests/fixtures/motor/hybrid_fixtures.py
  tests/fixtures/motor/liquid_fixtures.py
  tests/fixtures/motor/solid_motor_fixtures.py
  tests/fixtures/motor/tanks_fixtures.py
  tests/fixtures/parachutes/__init__.py
  tests/fixtures/parachutes/parachute_fixtures.py
  tests/fixtures/rockets/__init__.py
  tests/fixtures/rockets/rocket_fixtures.py
  tests/fixtures/surfaces/__init__.py
  tests/fixtures/surfaces/surface_fixtures.py
  tests/fixtures/units/__init__.py
  tests/fixtures/units/numerical_fixtures.py
Labels: Tests

#558 BUG: Add reference area factor correction to aero surfaces (solves #557)
  CHANGELOG.md
  rocketpy/prints/rocket_prints.py
  rocketpy/rocket/aero_surface.py
  rocketpy/rocket/rocket.py
  tests/test_rocket.py
Labels: Bug, Aerodynamics

#559 BUG: Motor method 'export_eng' for liquid motors bug fix. (solves #473)
  CHANGELOG.md
  rocketpy/motors/motor.py
Labels: Bug, Motors

#563 ENH: Optional argument to show the plot in Function.compare_plots
  CHANGELOG.md
  rocketpy/mathutils/function.py
Labels: Enhancement, Function, Docs

#554 ENH: adds `Function.remove_outliers` method
  CHANGELOG.md
  rocketpy/mathutils/function.py
  tests/unit/test_function.py
Labels: Enhancement, Function
