Repository RocketPy-Team/RocketPy, pull requests merged in 2024-03, with the labels that each got.

#569 BUG: wrong rocket mass in parachute u dot method
  CHANGELOG.md
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/acceptance/test_bella_lui_rocket.py
  tests/test_flight.py
  tests/unit/test_utilities.py
Labels: Bug, Flight

#571 TST: Environment unit tests refactoring
  rocketpy/environment/environment.py
  tests/fixtures/environment/environment_fixtures.py
  tests/fixtures/flight/flight_fixtures.py
  tests/test_environment.py
  tests/test_flight.py
  tests/test_plots.py
  tests/unit/test_environment.py
Labels: Tests

#576 DOC: Convert CompareFlights example notebooks to .rst files
  CHANGELOG.md
  docs/notebooks/compare_flights_usage.ipynb
  docs/notebooks/deployable_payload_example.ipynb
  docs/reference/index.rst
  docs/reference/plots_prints/compare_flights.rst
  docs/user/compare_flights.rst
  docs/user/deployable.rst
  docs/user/index.rst
Labels: Docs

#574 REL: Update version to 1.2.2
  CHANGELOG.md
  docs/conf.py
  docs/user/installation.rst
  setup.py
Labels: Releases

#572 ENH: adds new stability margin methods to flight
  CHANGELOG.md
  rocketpy/prints/flight_prints.py
  rocketpy/simulation/flight.py
  tests/unit/test_flight.py
Labels: Enhancement, Flight

#579 MNT: Refactor flight prints module
  CHANGELOG.md
  rocketpy/prints/flight_prints.py
Labels: Outputs

#570 DEV: adds coverage configuration file and excluide exceptions from report
  .coveragerc
Labels: Tests
