Repository RocketPy-Team/RocketPy, pull requests merged in 2024-08, with the labels that each got.

#648 REL: Bump versioning to RocketPy v1.4.2
  CHANGELOG.md
  docs/conf.py
  docs/user/installation.rst
  pyproject.toml
  rocketpy/rocket/aero_surface/rail_buttons.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/unit/test_rocket.py
Labels: Releases

#644 DOC: New Environment class docs pages
  .vscode/settings.json
  CHANGELOG.md
  docs/notebooks/environment/environment_class_usage.ipynb
  docs/notebooks/environment/topography_usage.ipynb
  docs/user/environment.rst
  docs/user/environment/0-setup/datetime.rst
  docs/user/environment/0-setup/elevation.rst
  docs/user/environment/0-setup/index.rst
  docs/user/environment/0-setup/location.rst
  docs/user/environment/1-atm-models/custom_atmosphere.rst
  docs/user/environment/1-atm-models/ensemble.rst
  docs/user/environment/1-atm-models/forecast.rst
  docs/user/environment/1-atm-models/index.rst
  docs/user/environment/1-atm-models/reanalysis.rst
  docs/user/environment/1-atm-models/soundings.rst
  docs/user/environment/1-atm-models/standard_atmosphere.rst
  docs/user/environment/2-earth-models/gravity.rst
  docs/user/environment/2-earth-models/index.rst
  docs/user/environment/2-earth-models/topography.rst
  docs/user/environment/3-further/data_csv.rst
  docs/user/environment/3-further/exporting_data.rst
  docs/user/environment/3-further/index.rst
  docs/user/environment/3-further/other_apis.rst
  docs/user/environment/index.rst
  docs/user/environment_analysis.rst
  rocketpy/environment/environment.py
Labels: Docs, Environment

#635 ENH: Rocket Axes Definition
  .vscode/settings.json
  CHANGELOG.md
  docs/static/rocket/3dcsys.png
  docs/static/rocket/angularpos.png
  docs/static/rocket/flightcsys.png
  docs/user/index.rst
  docs/user/rocket/rocket.rst
  docs/user/rocket/rocket_axes.rst
  docs/user/rocket/rocket_usage.rst
  rocketpy/mathutils/vector_matrix.py
  rocketpy/rocket/aero_surface/fins/elliptical_fins.py
  rocketpy/rocket/aero_surface/fins/fins.py
  rocketpy/rocket/aero_surface/fins/trapezoidal_fins.py
  rocketpy/rocket/aero_surface/nose_cone.py
  rocketpy/rocket/aero_surface/rail_buttons.py
  rocketpy/rocket/aero_surface/tail.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  rocketpy/tools.py
  tests/fixtures/rockets/rocket_fixtures.py
  tests/unit/test_flight.py
Labels: Enhancement, Docs, Flight

#649 MNT: Refactor Parallel MonteCarlo and Stochastic Seeding
  .vscode/settings.json
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/monte_carlo_class_example.inputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_analysis_outputs/monte_carlo_class_example.outputs.txt
  docs/notebooks/monte_carlo_analysis/monte_carlo_class_usage.ipynb
  rocketpy/simulation/monte_carlo.py
  rocketpy/stochastic/stochastic_model.py
  rocketpy/tools.py
  tests/integration/test_monte_carlo.py
Labels: Monte Carlo

#651 DOC: Fix Documentation Requirements.
  CHANGELOG.md
  docs/requirements.txt
Labels: Docs

#675 BUG: Pressure ISA Extrapolation as "linear"
  CHANGELOG.md
  rocketpy/environment/environment.py
Labels: Bug, Environment

#674 BUG: Rotational EOMs Not Relative To CDM
  .pylintrc
  CHANGELOG.md
  docs/user/rocket/rocket_usage.rst
  rocketpy/motors/motor.py
  rocketpy/rocket/rocket.py
  rocketpy/simulation/flight.py
  tests/unit/test_flight.py
  tests/unit/test_rocket.py
Labels: Flight
